* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
}

body {
  background-image: url(Img/thomas-heintz-0tgMnMIYQ9Y-unsplash.jpg);
  background-size: cover;
  background-repeat: repeat;
  width: 100%;
  height: 100%;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  scroll-behavior: smooth;
}

.logo {
  margin-left: 20px;
  margin-top: 60px;
  position: fixed;
}

.menu {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 20px 0 0 1010px;
  position: fixed;
}

a {
  color: #013a89;
}

ul {
  display: flex;
}

li {
  display: flex;
  transition: 0.5s;
}

ul:hover li {
  filter: blur(5px);
}

ul li:hover {
  filter: blur(0px);
}

.home {
  height: auto;
  display: flex;
  justify-content: center;
}

.neon {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 160px 10px 0 10px;
  font-size: 50px;
  font-family: "Pacifico", cursive;
  color: white;
  animation: neon 3s infinite;
}

@keyframes neon {
  0% {
    text-shadow: white 0 0 12px;
  }
  39% {
    text-shadow: #013a89 0 0 24px;
  }
  41% {
    text-shadow: none;
  }
  59% {
    text-shadow: #013a89 0 0 36px;
  }
  61% {
    text-shadow: none;
  }
  100% {
    text-shadow: #013a89 0 0 36px;
  }
}

.bio {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: 250px;
  padding-top: 180px;
  padding-bottom: 20px;
  font-family: "Montserrat", sans-serif;
}

.glass {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 40px 0 50px 0px;
  width: 700px;
  height: 600px;
  border-radius: 30px;
  background: linear-gradient
    (135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.text_bio {
  text-align: center;
  margin-top: 50px;
}

.glassSkills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 40px 0 50px 50px;
  width: 300px;
  height: 600px;
  border-radius: 30px;
  background: linear-gradient
    (135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.github {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.profilePicture {
  border-radius: 50%;
  background-size: cover;
  width: 300px;
  height: 300px;
  margin-top: -150px;
}

.biograph {
  margin-left: 10px;
  margin-right: 10px;
  color: black;
}

h3 {
  color: #ef5615;
}

p {
  color: black;
}

.goal {
  margin-left: 10px;
  margin-right: 10px;
  color: black;
}

.progetti {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  font-family: "Montserrat", sans-serif;
  color: #ef5615;
  padding: 20px 0 20px 0;
}

.projectWeb {
  display: flex;
  justify-content: start;
  flex-direction: column;
  margin: 50px 20px 20px 20px;
}

.glassProject {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px 0px 20px 150px;
  padding-bottom: 30px;
  width: auto;
  height: auto;
  border-radius: 30px;
  background: linear-gradient
    (135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(218, 119, 17, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.project1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin: 50px 20px 20px 20px;
  width: 300px;
  height: 100px;
  border-radius: 30px;
  background: linear-gradient
    (135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.imgProject1 {
  border-radius: 50%;
  background-size: cover;
  width: 133px;
  height: 133px;
  padding-left: -300px;
}

.project2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin: 20px 20px 20px 20px;
  width: 300px;
  height: 100px;
  border-radius: 30px;
  background: linear-gradient
    (135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.imgProject2 {
  border-radius: 50%;
  background-size: cover;
  width: 133px;
  height: 133px;
  padding-left: -300px;
}

.project3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin: 20px 20px 50px 20px;
  width: 300px;
  height: 100px;
  border-radius: 30px;
  background: linear-gradient
    (135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.imgProject3 {
  border-radius: 50%;
  background-size: cover;
  width: 133px;
  height: 133px;
  padding-left: -300px;
}

.WpProject {
  display: flex;
  justify-content: start;
  flex-direction: column;
  margin: 50px 20px 30px 20px;
}

.glassProjectWp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px 20px 20px 20px;
  width: auto;
  height: auto;
  border-radius: 30px;
  background: linear-gradient
    (135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(218, 119, 17, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.WpProject1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin: 20px 20px 50px 20px;
  width: 300px;
  height: 100px;
  border-radius: 30px;
  background: linear-gradient
    (135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.imgWpProject1 {
  border-radius: 50%;
  background-size: cover;
  width: 133px;
  height: 133px;
  padding-left: -300px;
}

.OtherProject {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 20px 30px 20px;
}

.glassOtherProject {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px 150px 20px 0px;
  width: auto;
  height: auto;
  border-radius: 30px;
  background: linear-gradient
    (135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(218, 119, 17, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.otherProject1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin: 20px 20px 50px 20px;
  width: 300px;
  height: 100px;
  border-radius: 30px;
  background: linear-gradient
    (135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.imgOtherProject1 {
  border-radius: 50%;
  background-size: cover;
  width: 133px;
  height: 133px;
  padding-left: -300px;
}

.formazione {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-family: "Montserrat", sans-serif;
  color: #ef5615;
  padding: 20px 20px 20px 20px;
}

.glassFormation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 20px 20px 20px 20px;
  width: auto;
  height: auto;
  border-radius: 30px;
  background: linear-gradient
    (135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(218, 119, 17, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.Formation {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  margin: 20px 20px 20px 40px;
}

.skillWeb {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  margin: 20px 20px 20px 40px;
}

.contatti {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-family: "Montserrat", sans-serif;
  color: #ef5615;
  padding: 20px 20px 20px 20px;
}

.glassContact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 30px 20px 60px 20px;
  padding: 40px 20px 20px 20px;
  width: auto;
  height: auto;
  border-radius: 30px;
  background: linear-gradient
    (135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(218, 119, 17, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1000px;
  width: 100%;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
}

label {
  background-color: transparent;
  position: absolute;
  left: 5px;
  top: 20px;
  padding: 0 20px;
  transition: ease-in-out 0.1s;
  pointer-events: none;
}

input,
textarea {
  background-color: transparent;
  padding: 12px 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 30px;
  font-size: 16px;
  outline: none;
  font-family: "Courier New", Courier, monospace;
}

input:focus + label,
textarea:valid + label {
  top: -18px;
}

input:valid + label,
textarea:valid + label {
  top: -16px;
}

input[type="submit"] {
  transition: ease-in-out 0.2s;
  cursor: pointer;
  font-family: "Courier New", Courier, monospace;
}

input[type="submit"]:hover {
  background-color: #013a89;
  color: #ef5615;
  font-family: "Courier New", Courier, monospace;
}

/* Media Query MOBILE */
@media only screen and (max-width: 576px) {
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo {
    position: relative;
  }

  .menu {
    font-size: smaller;
  }

  .neon {
    text-align: center;
    font-size: 40px;
  }

  .bio {
    flex-direction: column;
    align-items: center;
    margin: 200px 10px 0 10px;
  }

  .glass {
    width: auto;
    height: auto;
    margin: 0 20px 20px 20px;
  }

  .profilePicture {
    margin: -50px 0 50px 0;
  }

  .text_bio {
    text-align: center;
    margin: 0 10px 30px 10px;
  }

  .glassSkills {
    justify-content: center;
    width: auto;
    height: auto;
    padding: 50px 50px 50px 50px;
    margin: 20px 20px 50px 20px;
  }

  .progetti {
    display: flex;
    flex-direction: column;
    margin: 50px 20px 50px 20px;
  }

  .glassProject {
    margin: 50px 20px 20px 20px;
  }

  .glassOtherProject {
    margin: 20px 20px 50px 20px;
  }
}

/* Media Query TABLET */
@media only screen and (min-width: 577px) and (max-width: 1024px) {
  .body {
    width: 100%;
    background-repeat: no-repeat;
  }

  .home {
    width: 100%;
  }

  .menu {
    display: none;
  }

  .logo {
    margin-left: 40px;
    margin-top: 20px;
    position: relative;
  }

  .neon {
    display: flex;
    justify-content: center;
    width: 600px;
  }

  .bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 200px 10px 0 10px;
  }

  .glass {
    width: auto;
    height: auto;
  }

  .profilePicture {
    margin: -50px 0 50px 0;
  }

  .text_bio {
    text-align: center;
    margin: 0 10px 30px 10px;
  }

  .glassSkills {
    justify-content: center;
    width: auto;
    height: auto;
    padding: 50px 50px 50px 50px;
    margin: 20px 20px 20px 20px;
    flex-direction: row;
  }

  .skills {
    margin: 0 30px 0 10px;
  }

  .github {
    margin: 0 10px 0 30px;
  }

  .progetti {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .glassProject,
  .glassOtherProject {
    margin: 0;
  }
}
